<div id="distanceCalculator">
    <div id="topbar">
        <div id="left">  
            <h1>Distance Calculator</h1>
            <p>Prototype web application for calculating the distance between addresses.</p>
        </div>
        <div id="right">
            <button mat-raised-button color="primary" (click)="navigate()">View Historical Queries <span class="material-icons-outlined">history</span></button>
        </div>
    </div>

    <div id="calulator">

      <div id="start">
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div id="end">
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div id="units">
        <label id="radio-group-label">Unit</label>
        <mat-radio-group
        aria-labelledby="radio-group-label" 
        class="radio-group"
        >
        @for (metric of metrics; track metric) {
          <mat-radio-button class="radio-button" [value]="metric">{{metric}}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    <div>Distance</div>
    
  </div>
    <button mat-raised-button color="primary">Calculate Distance <span class="material-icons-outlined">calculate</span></button>
  </div>